body {
    font-family: 'Arial', sans-serif;
    background-color: #555558;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgb(137, 137, 138);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

button {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fdfdfd;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #e2e2e2;
}

/* Cores para feedback visual */
button.correct {
    background-color: #2ecc71 !important;
    color: white;
}

button.wrong {
    background-color: #e74c3c !important;
    color: white;
}

.next-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
}

.next-btn:hover {
    background-color: #2980b9;
}

.hide {
    display: none;
}